.chat-wrapper{
    margin: 1%;
    width: 90%;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
}

.chat-header{
    padding: 2%;
}

.chat-body{
    padding: 1%;
    height: 450px;
    width: 100%;
}

.chat-message{
    padding: 1%;
    margin: 2%;
    font-size: small;
    max-width: 40%;
}

.user-chat-message{
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}

.ai-chat-message{
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
}

.input-form{
    width: 70%;
}